.titulo{
color: aqua;
text-align: center;
}

.imagens {

    width: 500px;
    height: 500px;
    display: block;
    margin: 0 auto;
}

.paperhome{

    background-color: #8D9CA6;
}

.coresb{

    

    background-color: #F2D541 !important;
}

.cor2{

    background-color: #452E68;
}

.cor3{
    background-color: #FD7D24;
}

.cor4{

    background-color: #30A7D7;
}

.cor5{
    background-color: #729F3F;
}

.cor6{
    
    background-color: #1c2226;
}

.imagem{
    margin-right: 5px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.imagem2{
    margin-right: 10px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.box1{

    margin-bottom: 10px;

}

.imageali{

    margin-left: 60px;
}

.margin{
    margin-top: 70px;
}